%h4= 'Enrollments of ' + @current_user.name

%table#enrollments.table.table-striped.col-md-12
  %thead
    %tr
      %th Course
      %th Overall Grade
  %tbody
    - @enrollments.each do |enrollment|
      %tr
        %td= enrollment.course.name
        %td= enrollment.grades.map{|grade| (grade.grade * grade.assessment.weight).round(2) }.sum().round(2)
        %td= link_to 'Show Grades', course_enrollment_grades_path(enrollment.course, enrollment)